_drafts/
_site/
assets/data
*/*/latex
*/*.fdb_latexmk
*/*.log
*/*.fls
*/*.fls
*/*.aux
*/*.synctex.gz
assets/latex/*.tex
!assets/latex/book*.pdf
.sass-cache 
.DS_Store
**/.DS_Store
stat_counter
*.bin
Markdow*.*
44*.text
**/.ipynb_checkpoints
assets/*/.DS_Store 
assets/*/.ipynb_checkpoints 

.sass-cache
.DS_Store
_posts/.fuse_hidden*
run.sh
diagrams/*
_algolia_api_key