
          <!-- Google search -->
<!--           <table border="0">
          <div id = "top-widget" style="width: 252px; margin-left: -13.5px; margin-top: -10px; margin-bottom: -15px;">
         <script>
           (function() {
             var cx = '012053542614118746585:ktgei4l2oek';
             var gcse = document.createElement('script');
             gcse.type = 'text/javascript';
             gcse.async = true;
             gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
             var s = document.getElementsByTagName('script')[0];
             s.parentNode.insertBefore(gcse, s);
           })();
         </script>
         <gcse:search></gcse:search>
          </div>
          </table> -->

          

         <!--  {% if page.category %}
          <nav>
          
            <div class="header">Latest by category</div>
            <ul>
              {% for category in site.categories %}
                {% if category[0] == page.category %}
                  {% for post in category[1] offset:0 limit:5 %}
                    <li><a style="text-align: left; font-family: 'Open Sans Condensed', sans-serif; color: #204081;" href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
          {% endif %}



          <nav>
            <div class="header">Latest</div>
              {% for post in site.posts limit:20 %}
                <li><a style="text-align: left; font-family: 'Open Sans Condensed', sans-serif;color: #204081"  href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </nav> -->          

          <nav>
          <div class = "header" with = "100%">Facebook page</div>
         <div class="fb-page" data-href="https://www.facebook.com/awscoban/" data-width="210" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/awscoban/" class="fb-xfbml-parse-ignore" ><a style = "color: #204081" href="https://www.facebook.com/awscoban/">AWS Cơ Bản</a></blockquote></div>
          </nav>
          <nav>
            <div class="header">Facebook group</div>
            <a   href="https://www.facebook.com/groups/awscoban/">
            <img width="100%" src="{{ site.baseurl }}/assets/awscoban_cover.png"/>  </a>
          </nav>

