---
layout: default
metadata: true
style:
 name: post
 embedded: false
---


<!-- <div class = "row"> -->
   <!-- <div class = "col-xs-12 hidden-md hidden-lg"> -->
      <!-- previous and next posts -->
      <div class="PageNavigation">
         {% if page.previous.url %}
            <a class="prev" style = "color: #074B80;" href="{{page.previous.url}}">&laquo; Bài trước: {{page.previous.title2}}</a>
         <!-- <hr> -->
         {% endif %}
         {% if page.next.url %}
            <a class="next" style = "float: right; color: #074B80;" href="{{page.next.url}}">Tiếp theo: {{page.next.title2}} &raquo;</a>
         <hr>
         {% endif %}
      </div>
  <!-- </div> -->
<!-- </div> -->
<h1 itemprop="name" class="post-title">{{ page.title }}</h1>

{% if page.tags %}
<ul class = "tags">
   {% for tag in page.tags %}
      <a href="/tags#{{ tag }}" class="tag">{{ tag }}</a>
   {% endfor %}
</ul>
{% endif %}
{% if page.date %}

<span class = "post-date" style="color: gray; font-style: italic;">{{ page.date | date: "%b %-d, %Y" }}
            </span>
<!-- Main content -->
<br>
<br>
{% endif %}


<div itemprop="articleBody">
   {{ content }}
</div>


<em>Nếu có câu hỏi, bạn có thể để lại comment trên fanpage hoặc group. Cảm ơn bạn.</em>

<hr>

<!-- previous and next posts -->
<div class="PageNavigation">
   {% if page.previous.url %}
      <a class="prev" style = "color: #204081;" href="{{page.previous.url}}">&laquo; Bài trước: {{page.previous.title2}}</a>
   {% endif %}
   {% if page.next.url %}
      <a class="next" style = "float: right; color: #204081;" href="{{page.next.url}}">Tiếp theo: {{page.next.title2}} &raquo;</a>
   {% endif %}
</div>

<!-- Add vertical spacing -->
<div style="height: 100px;"></div>

<!-- {% include stat_counter.html %} -->
 
<!-- Default Statcounter code for AWS Co Ban http://awscoban.com -->
<script type="text/javascript">
var sc_project=13204566; 
var sc_invisible=0; 
var sc_security="cf3ea60b"; 
var scJsHost = "https://";
document.write("<sc"+"ript type='text/javascript' src='" + scJsHost+
"statcounter.com/counter/counter.js'></"+"script>");
</script>
<noscript><div class="statcounter"><a title="Web Analytics Made Easy -
Statcounter" href="https://statcounter.com/" target="_blank"><img
class="statcounter" src="https://c.statcounter.com/13204566/0/cf3ea60b/0/"
alt="Web Analytics Made Easy - Statcounter"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<!-- 
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?...">
</script> -->