---
layout: default
metadata: true
style:
 name: post
 embedded: false
sc_project: 13204566
sc_security: cf3ea60b
---


<!-- <div class = "row"> -->
   <!-- <div class = "col-xs-12 hidden-md hidden-lg"> -->
      <!-- previous and next posts -->
      <div class="PageNavigation">
         {% if page.previous.url %}
            <a class="prev" style = "color: #074B80;" href="{{page.previous.url}}">&laquo; Bài trước: {{page.previous.title2}}</a>
         <!-- <hr> -->
         {% endif %}
         {% if page.next.url %}
            <a class="next" style = "float: right; color: #074B80;" href="{{page.next.url}}">Tiếp theo: {{page.next.title2}} &raquo;</a>
         <hr>
         {% endif %}
      </div>
  <!-- </div> -->
<!-- </div> -->
<h1 itemprop="name" class="post-title">{{ page.title }}</h1>

{% if page.tags %}
<ul class = "tags">
   {% for tag in page.tags %}
      <a href="/tags#{{ tag }}" class="tag">{{ tag }}</a>
   {% endfor %}
</ul>
{% endif %}
{% if page.date %}

<span class = "post-date" style="color: gray; font-style: italic;">{{ page.date | date: "%b %-d, %Y" }}
            </span>
<!-- Main content -->
<br>
<br>
{% endif %}


<div itemprop="articleBody">
   {{ content }}
</div>

<hr> 
<em>Nếu có câu hỏi, bạn có thể để lại comment trên fanpage, group. Cảm ơn bạn.</em>
<br>
</em>

<hr>

<!-- previous and next posts -->
<div class="PageNavigation">
   {% if page.previous.url %}
      <a class="prev" style = "color: #204081;" href="{{page.previous.url}}">&laquo; Bài trước: {{page.previous.title2}}</a>
   {% endif %}
   {% if page.next.url %}
      <a class="next" style = "float: right; color: #204081;" href="{{page.next.url}}">Tiếp theo: {{page.next.title2}} &raquo;</a>
   {% endif %}
</div>

<!-- Add vertical spacing -->
<div style="height: 100px;"></div>

<!-- disqus comments -->
{% if page.comments %}
      <hr>
   {% include disqus_comments.html %}
{% endif %}

{% include stat_counter.html %}
<!-- <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<!-- 
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?...">
</script> -->